<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="log-file" xsi:type="File" fileName="${var:logpath}/main.log" layout="${date:format=s}|${logger}|${level}|${callsite}|${message}|${exception:format=ToString}"/>
    <target name="log-term" xsi:type="Console" layout="${date:format=s}|${logger}|${level}|${message}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="trace" writeTo="log-file"/>
    <logger name="*" minlevel="debug" writeTo="log-term" />
  </rules>
</nlog>